.container1 {
  display: flex;
  align-items: center;
  height: 40px;
}

.container2 {
  display: flex;
  width: 53%;
  height: 40px;
  align-items: center;
}

.keyboard {
  position: absolute; /* nao deu bom :( */
  margin-top: 0%;
  margin-left: 41.50%;
}

.container3 {
  display: flex;
}

header {
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu {
  width: 20px;
  height: 20px;
  padding: 8px;
}

header .logoyt {
  display: flex;
  height: 25px;
  width: 95px;
  padding: 18px 14px 18px 16px;
}

header .search {
  width: 90%;
  margin-right: 0px;
}

header input {
  color: white;
  border: 1px #373737 solid;
  background-color: #121212;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 17px;
  width: 100%;
}

header .subcontainer {
  display: flex;
}

header .div-lupa {
  color:#6f6f6f;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313131;
  width: 58px;
  height: 43px;
  border-radius: 0px 3px 3px 0px;
}

header .buttons {
  display: flex;
}

header .microphone {
  height: 20px; 
}

header .div-microphone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #121212; 
  margin-left: 10px;
}

header .video {
  height: 20px;
}

header .div-video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 15px;  
}

header .grid {
  height: 20px;
}

header .div-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 15px;  
}

header .bell {
  height: 20px;
}

header .div-bell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 15px;  
}

header .icon {
  height: 35px;
  border-radius: 50%;
}

header .div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 15px;  
}
