.nav {
  margin-left: 75px;
}

a {
  text-decoration: none;
  color: white;
}

nav#menu ul {
  height:56px;
  list-style: none;
  border-top: 1px #373737 solid;
  border-bottom: 1px #373737 solid; 
  display: flex;
  align-items: center;
}

nav#menu li {
  display: flex;
  border: 1px solid #4a4a4a;
  border-radius: 20px;
  padding: 7px 12px;
  margin: 6px;
  transition: background-color 0.5s;
  background-color: #373737;
}

nav#menu li:hover {   
  background-color: #616161c4;
}

nav#menu li:nth-child(1) {
  background-color: #d2cfcf;
  margin-left: 21px;
}

nav#menu li:nth-child(1):hover {
  background-color: white;
}

.next {
  width: 40px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next img {
  height: 16px;
}

.all {
  color: #101010;
}

.all:hover {
  color: black;
}